<% @list = list %>
<% @datespot = Datespot.find(list.datespot_id) %>
<% user = User.find(list.from_user_id) %>
<li id="list-<%= list.id %>">
  <p><%= l list.created_at %></p>
  <div class="row">
    <div class="col-md-4">
      <div class="list-datespot">
        <% if list.user_id == list.from_user_id %>
          <p class="list-message">この投稿を行く予定リストに追加しました。</p>
        <% else %>
          <p class="list-message"><%= link_to user.name, user_path(user) %>さんがこの投稿に行きたいリクエストをしました。</p>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <%= link_to "リストから削除", "/lists/#{list.id}/destroy",
                                  method: :delete,
                                  class: "unlist",
                                  data: { confirm: "本当にリストから削除しますか？" } %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <% if @datespot.images.attached? %>
        <div class="swiper-container slider-<%= list.id %>">
          <div class="swiper-wrapper">
            <% @datespot.images.each do |image| %>
              <div class="swiper-slide"><%= image_tag image.variant(resize:'200x200').processed %></div>
            <% end %>
          </div>
          <div class="swiper-scrollbar"></div>
        </div>
      <% else %>
        <%= image_tag 'thumb200_default.png'%>
      <% end %>
    </div>
    <%= render 'datespots/datespot_info' %>
  </div>
</li>
