<% @datespot = Datespot.find(list.datespot_id) %>
<% user = User.find(list.from_user_id) %>
<li class="list-index" id="list-<%= list.id %>">
  <div class="list-index__card" id="datespot-<%= @datespot.id %>">
    <div class="list-index__card-upper">
      <% if @datespot.images.attached? %>
        <%= link_to datespot_path(@datespot) do %>
          <%= image_tag @datespot.images.first.variant(resize:'400x400').processed, class: "list-index__card-upper--image" %>
        <% end %>
      <% else %>
        <%= link_to datespot_path(@datespot) do %>
          <%= image_tag 'thumb400_default.png', class: "list-index__card-upper--image" %>
        <% end %>
      <% end %>
    </div>
    <div class="list-index__card-lower">
      <%= render 'datespots/datespot_index_info' %>
    </div>
  </div>
  <div class="list-index__info">
    <p class="list-index__info--description"><%= link_to user.name, user_path(user) %>さんが<br>この提案に行きたい！リクエストをしました</p><br>
    <p class="list-index__info--timestamp"><%= l list.created_at %></p><br>
  </div>
</li>
