<div class="home">
  <div class="swiper-container home__slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide home__slider--section1">
        <%= render 'swiper_content' %>
      </div>
      <div class="swiper-slide home__slider--section2">
        <%= render 'swiper_content' %>
      </div>
      <div class="swiper-slide home__slider--section3">
        <%= render 'swiper_content' %>
      </div>
    </div>
    <div class="home__slider--scroll">
      <i class="fas fa-long-arrow-alt-down faa-float animated home__slider--scroll-icon"></i>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="home__usage">
        <div class="home__usage--title">
          <span>date-match　簡単4ステップ</span>
        </div>
        <div class="home__usage--suggestion">
          <span class="home__usage--suggestion-title">提案してみよう！</span><br>
          <div class="home__usage--suggestion-items">
            <div class="home__usage--suggestion-item">
              <span class="home__usage--suggestion-item-number">01</span><br>
              <%= image_tag 'suggestion1.png', class: "home__usage--suggestion-item-image" %><br>
              <span class="home__usage--suggestion-item-description">あなたの気になっている場所や<br>行きたいなと思っている場所を<br>提案してみましょう！</span>
            </div>
            <div class="home__usage--suggestion-item">
              <span class="home__usage--suggestion-item-number">02</span><br>
              <%= image_tag 'suggestion2.png', class: "home__usage--suggestion-item-image" %><br>
              <span class="home__usage--suggestion-item-description">あなたの提案に行きたい！リクエストが<br>送られてくるかも！送ってくれた人の<br>プロフィールを確認してみましょう！</span>
            </div>
            <div class="home__usage--suggestion-item">
              <span class="home__usage--suggestion-item-number">03</span><br>
              <%= image_tag 'suggestion3.png', class: "home__usage--suggestion-item-image" %><br>
              <span class="home__usage--suggestion-item-description">その人のプロフィールを読んで<br>気になったらいいね！<br>お互いにいいね！をしたらマッチング！</span>
            </div>
            <div class="home__usage--suggestion-item">
              <span class="home__usage--suggestion-item-number">04</span><br>
              <%= image_tag 'suggestion4.png', class: "home__usage--suggestion-item-image" %><br>
              <span class="home__usage--suggestion-item-description">マッチングしたらメッセージができます！<br>メッセージをして<br>デートにお誘いしてみましょう！</span>
            </div>
          </div>
        </div>
        <div class="home__usage--search">
          <span class="home__usage--search-title">検索してみよう！</span><br>
          <div class="home__usage--search-items">
            <div class="home__usage--search-item">
              <span class="home__usage--search-item-number">01</span><br>
              <%= image_tag 'search1.png', class: "home__usage--search-item-image" %><br>
              <span class="home__usage--search-item-description">あなたの気になっている場所や<br>行きたいなと思っている場所を<br>検索してみましょう！</span>
            </div>
            <div class="home__usage--search-item">
              <span class="home__usage--search-item-number">02</span><br>
              <%= image_tag 'search2.png', class: "home__usage--search-item-image" %><br>
              <span class="home__usage--search-item-description">気になる提案を見つけたら、行きたい！<br>リクエストをしてみましょう！お相手に<br>行きたい意思を伝えることができます！</span>
            </div>
            <div class="home__usage--search-item">
              <span class="home__usage--search-item-number">03</span><br>
              <%= image_tag 'search3.png', class: "home__usage--search-item-image" %><br>
              <span class="home__usage--search-item-description">提案している人のプロフィールを読んで<br>気になったらいいね！<br>お互いにいいね！をしたらマッチング！</span>
            </div>
            <div class="home__usage--search-item">
              <span class="home__usage--search-item-number">04</span><br>
              <%= image_tag 'search4.png', class: "home__usage--search-item-image" %><br>
              <span class="home__usage--search-item-description">マッチングしたらメッセージができます！<br>メッセージで<br>デートにお誘いされるかも！</span>
            </div>
          </div>
        </div>
      </div>
      <div class="home__datespots">
        <div class="home__datespots--title">
          <span>date-match　提案一覧</span>
        </div>
        <div class="home__datespots--content">
          <% if @datespots.any? %>
            <ol class="datespot-index">
              <%= render @datespots %>
            </ol>
            <%= will_paginate @datespots, previous_label: '<', next_label: '>', inner_window: 1, outer_window: 0 %>
          <% end %>
        </div>
      </div>
      <%= render 'layouts/home_footer' %>
    </div>
  </div>
</div>
<%= render 'layouts/home-slider_script' %>
