<div class="home">
  <div class="swiper-container home__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide home__slider--section1">
          <%= render 'swiper_content' %>
        </div>
        <div class="swiper-slide home__slider--section2">
          <%= render 'swiper_content' %>
        </div>
        <div class="swiper-slide home__slider--section3">
          <%= render 'swiper_content' %>
        </div>
      </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="home__features">
        <div class="home__features--title">
          <span>date-match　3つの特徴</span>
        </div>
        <div class="home__features--suggestion">
          <div>
            <span class="home__features--suggestion-title">1.デートの提案ができる</span><br>
            <span class="home__features--suggestion-description">あなたの最近気になっている場所や<br>行きたいなと思っている場所を<br>提案してみましょう！</span>
          </div>
          <%# 写真は後で入れ替える %>
          <%= image_tag 'home__features--search-sample.png', class: "home__features--suggestion-sample" %>
        </div>
        <div class="home__features--search">
          <%= image_tag 'home__features--search-sample.png', class: "home__features--search-sample" %>
          <div>
            <span class="home__features--search-title">2.デートの検索ができる</span><br>
            <span class="home__features--search-description">自分から提案する勇気がない人は、<br>自分の行きたい場所や気になっている場所が<br>提案されていないか検索してみましょう！</span>
          </div>
        </div>
        <div class="home__features--invitation">
          <div>
            <span class="home__features--invitation-title">3.デートの招待ができる</span><br>
            <span class="home__features--invitation-description">気になる提案している人を見つけたら、<br>「いいね！」をしてみましょう！<br>お互い「いいね！」したらマッチング！<br>メッセージして、招待してみましょう！</span>
          </div>
          <%# 写真は後で入れ替える %>
          <%= image_tag 'home__features--search-sample.png', class: "home__features--invitation-sample" %>
        </div>
      </div>
      <div class="home__datespots">
        <div class="home__datespots--title">
          <span>date-match　提案一覧</span>
        </div>
        <div class="home__datespots--content">
          <% if @datespots.any? %>
            <ol class="datespots">
              <%= render @datespots %>
            </ol>
            <%= will_paginate @datespots, previous_label: '<', next_label: '>', inner_window: 1, outer_window: 0 %>
          <% end %>
        </div>
      </div>
      <%= render 'layouts/home_footer' %>
    </div>
  </div>
</div>
