<div class="swiper-container home-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide slider-section1">
        <%= render 'swiper_content' %>
      </div>
      <div class="swiper-slide slider-section2">
        <%= render 'swiper_content' %>
      </div>
      <div class="swiper-slide slider-section3">
        <%= render 'swiper_content' %>
      </div>
    </div>
</div>
<div class="container">
  <div class="row">
    <%= render 'datespots/datespot_search' %>
    <div class="col-md-9">
      <% if @datespots.any? %>
        <h3>デートスポット (<%= @datespots.count %>)</h3>
        <ol class="datespots">
          <%= render @datespots %>
        </ol>
        <%= will_paginate @datespots %>
      <% end %>
    </div>
  </div>
</div>
