<% if messages.present? %>
  <ul>
    <% messages.each do |message| %>
      <% if message.user == current_user %>
        <li class="message-index" id="message-<%= message.id %>">
          <div class="message-index__right">
            <% if message.user.avatars.attached? %>
              <%= link_to user_path(message.user) do %>
                <%= image_tag message.user.avatars.first.variant(resize:'200x200').processed, class: "message-index__right--avatar" %><br>
              <% end %>
            <% else %>
              <%= link_to user_path(message.user) do %>
                <%= image_tag 'thumb50_default.png', class: "message-index__right--avatar" %><br>
              <% end %>
            <% end %>
            <p class="message-index__right--message-content"><%= message.content %></p><br>
            <% if message.picture.attached? %>
              <%= image_tag message.picture.variant(resize:'200x200').processed, class: "message-index__right--message-picture" %>
            <% end %>
            <div class="message-index__right--bottom">
              <p class="message-index__right--bottom-timestamp"><%= l message.created_at %></p>
              <% if message.user == current_user %>
                <%= link_to room_message_path(message.room_id, message.id), remote: true, method: :delete do %>
                  <i class="far fa-trash-alt"></i>
                <% end %>
              <% end %>
            </div>
          </div>
        </li>
      <% else %>
        <li class="message-index" id="message-<%= message.id %>">
          <div class="message-index__left">
            <% if message.user.avatars.attached? %>
              <%= link_to user_path(message.user) do %>
                <%= image_tag message.user.avatars.first.variant(resize:'200x200').processed, class: "message-index__left--avatar" %><br>
              <% end %>
            <% else %>
              <%= link_to user_path(message.user) do %>
                <%= image_tag 'thumb50_default.png', class: "message-index__left--avatar" %><br>
              <% end %>
            <% end %>
            <p class="message-index__left--message-content"><%= message.content %></p><br>
            <% if message.picture.attached? %>
              <%= image_tag message.picture.variant(resize:'200x200').processed, class: "message-index__left--message-picture" %>
            <% end %>
            <p class="message-index__left--timestamp"><%= l message.created_at %></p>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p class="message-index__no-message">メッセージはありません</p>
<% end %>
