<% provide(:title, "ログイン") %>
<div class="container-fluid">
  <div class="row">
    <%= render 'layouts/logging_out_sidebar' %>
    <div class="main">
      <div class="heading">
        <h1 class="heading__title">ログイン</h1>
      </div>
      <div class="content">
        <%= form_for(:session, url: login_path, local: true) do |form| %>
          <div class='info-form'>
            <%= form.label 'メールアドレス' %><span class="info-form__input-need">※必須(255文字以内)</span><br>
            <%= form.email_field :email, placeholder: "メールアドレスを入力", class: 'info-form__input-form', id: 'user_email', required: true, autofocus: true %>
          </div>
          <div class='info-form'>
            <%= form.label 'パスワード' %><span class="info-form__input-need">※必須(6文字以上)</span><br>
            <%= form.password_field :password, placeholder: "パスワードを入力", class: 'info-form__input-form', id: 'user_password', required: true %>
          </div>
          <div class="action-button">
            <%= form.submit 'ログイン', class: "action-button__submit" %>
          </div>
        <% end %>
        <div class="info-form__guest-login">ゲストログインをご利用の方は<%= link_to 'こちら', guest_login_path, method: :post %></div>
        <div class="info-form__signup">ユーザー登録をしていない方は<%= link_to 'こちら', signup_path %></div>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </div>
</div>
