<% @datespot = Datespot.find(favorite.datespot_id) %>
<li id="datespot-<%= @datespot.id %>">
  <p><%= l favorite.created_at %></p>
  <div class="row">
    <div class="col-md-4">
      <div class="favorite-datespot">
        <p class="list-message">この投稿をお気に入りに追加しました。</p>
      </div>
    </div>
    <div class="col-md-4">
      <%= link_to "お気に入りから削除", "/favorites/#{@datespot.id}/destroy",
                                  method: :delete,
                                  class: 'unlike',
                                  data: { confirm: "本当にお気に入りから削除しますか？" } %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <% if @datespot.images.attached? %>
        <div class="swiper-container slider-<%= @datespot.id %>">
          <div class="swiper-wrapper">
            <% @datespot.images.each do |image| %>
              <div class="swiper-slide"><%= image_tag image.variant(resize:'200x200').processed %></div>
            <% end %>
          </div>
          <div class="swiper-scrollbar"></div>
        </div>
      <% else %>
        <%= image_tag 'thumb200_default.png'%>
      <% end %>
    </div>
    <div class="col-md-6">
      <%= render 'datespots/datespot_evaluation' %><br>
      <%= render 'datespots/datespot_info' %>
    </div>
  </div>
</li>
