<% @datespot = Datespot.find(favorite.datespot_id) %>
<li id="datespot-<%= @datespot.id %>">
  <p><%= l favorite.created_at %></p>
  <div class="row">
    <div class="col-md-4">
      <div class="favorite-datespot">
        <p class="list-message">この投稿をお気に入りに追加しました。</p>
      </div>
    </div>
    <div class="col-md-4">
      <%= link_to "お気に入りから削除", "/favorites/#{@datespot.id}/destroy",
                                  method: :delete,
                                  class: 'unlike',
                                  data: { confirm: "本当にお気に入りから削除しますか？" } %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <%= link_to((image_tag @datespot.picture.thumb400.url), datespot_path(@datespot.id), class: 'datespot-picture') %>
    </div>
    <div class="col-md-6">
      <span class="datespot-name"><%= link_to @datespot.name, datespot_path(@datespot) %></span><br>
      <span class="area">【エリア】<%= @datespot.area %></span><br>
      <span class="price">【価格帯】<%= @datespot.price %></span><br>
      <span class="keyword">【キーワード】<%= @datespot.keyword %></span><br>
      <span class="user-name">【投稿者】<%= link_to @datespot.user.name, @datespot.user %></span><br>
    </div>
  </div>
</li>
