<div class="notification-index__card" id="datespot-<%= @datespot.id %>">
  <div class="notification-index__card-upper">
    <% if @datespot.images.attached? %>
      <%= link_to datespot_path(@datespot) do %>
        <%= image_tag @datespot.images.first.variant(resize:'400x400').processed, class: "notification-index__card-upper--image" %>
      <% end %>
    <% else %>
      <%= link_to datespot_path(@datespot) do %>
        <%= image_tag 'thumb400_default.png', class: "notification-index__card-upper--image" %>
      <% end %>
    <% end %>
  </div>
  <div class="notification-index__card-lower">
    <%= render 'datespots/datespot_index_info' %>
  </div>
</div>
