<% @user = User.find(notification.from_user_id) %>
<% @datespot = Datespot.find(notification.datespot_id) if notification.datespot_id.present? %>
<li class="notification-index" id="notification-<%= notification.id %>">
  <% if notification.variety == 1 %>
    <%= render 'notifications/notification_datespot' %>
    <div class="notification-index__info">
      <p class="notification-index__info--description">あなたの提案に<%= link_to @user.name, user_path(@user) %>さんが<br>行きたい！リクエストをしました</p><br>
      <p class="notification-index__info--timestamp"><%= l notification.created_at %></p>
    </div>
  <% elsif notification.variety == 2 %>
    <%= render 'notifications/notification_datespot' %>
    <div class="notification-index__info">
      <p class="notification-index__info--description">あなたの提案に<br><%= link_to @user.name, user_path(@user) %>さんがコメントしました<br>「<%= notification.content.slice(0..10) %>...」</p><br>
      <p class="notification-index__info--timestamp"><%= l notification.created_at %></p>
    </div>
  <% elsif notification.variety == 3 %>
    <%= render 'notifications/notification_user' %>
    <div class="notification-index__info">
      <p class="notification-index__info--description"><%= link_to @user.name, user_path(@user) %>さんが<br>あなたにいいね！をしました</p><br>
      <p class="notification-index__info--timestamp"><%= l notification.created_at %></p>
    </div>
  <% elsif notification.variety == 4 %>
    <%= render 'notifications/notification_user' %>
    <div class="notification-index__info">
      <p class="notification-index__info--description"><%= link_to @user.name, user_path(@user) %>さんから<br>メッセージが届きました<br>「<%= notification.content.slice(0..10) %>...」</p><br>
      <p class="notification-index__info--timestamp"><%= l notification.created_at %></p>
    </div>
  <% end %>
</li>
