<% provide(:title, "通知一覧") %>
<div class="container-fluid">
  <div class="row">
    <%= render 'layouts/logging_in_sidebar' %>
    <div class="main">
      <div class="heading">
        <h1 class="heading__title">通知一覧</h1>
      </div>
      <div class="content">
        <% if @notifications.present? %>
          <p class="notification-index__notification-count">通知： <%= @notifications_all.count %>件</p><br>
          <div class="notification-index__notification-all-delete">
            <%= link_to "全削除", "/notifications/destroy", method: :delete,
            data: { confirm: '全ての通知を削除します。本当に削除してよろしいでしょうか？' } %>
          </div>
          <ol>
            <%= render @notifications %>
          </ol>
          <%= paginate @notifications %>
        <% else %>
          <span class="notification-index__no-notification">通知はありません</span>
        <% end %>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </div>
</div>
