<% @datespot = datespot %>
<li class="datespots__card" id="datespot-<%= @datespot.id %>">
  <div class="datespots__card-upper">
    <% if @datespot.images.attached? %>
      <%= link_to datespot_path(@datespot) do %>
        <%= image_tag @datespot.images.first.variant(resize:'300x300!').processed, class: "datespots__card-upper--image" %>
      <% end %>
    <% else %>
      <%= image_tag 'thumb400_default.png', class: "datespots__card-upper--no-image" %>
    <% end %>
  </div>
  <div class="datespots__card-lower">
    <%= render 'datespots/datespot_info' %>
  </div>
</li>
