<%= search_form_for @search do |form| %>
  <div class="col-md-2">
    <div class='form-group'>
      <%= form.search_field :name_cont, placeholder: "名称・店名で検索", class: 'form-control font-awesome' %>
    </div>
  </div>
  <div class="col-md-2">
    <div class='form-group'>
      <%= form.search_field :user_name_cont, placeholder: "投稿者で検索", class: 'form-control font-awesome' %>
    </div>
  </div>
  <div class="col-md-2">
    <div class='form-group'>
      <%= form.search_field :address_cont, placeholder: "住所で検索", class: 'form-control font-awesome' %>
    </div>
  </div>
  <div class="col-md-2">
    <div class='form-group'>
      <%= form.search_field :tags_name_cont, placeholder: "キーワードで検索", class: 'form-control font-awesome' %>
    </div>
  </div>
  <div class="col-md-2">
    <div class='form-group'>
      <%= form.select( :sorts, {'更新日の新しい順': 'updated_at desc', '更新日の古い順': 'updated_at asc', '予算の高い順': 'range desc', '予算の安い順': 'range asc'}, { selected: params[:q][:sorts] })%>
    </div>
  </div>
  <div class="col-md-2">
    <div class='form-group'>
      <%= form.submit nil, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
