<div class='datespot-search'>
  <div class='datespot-search__search-result'>
    <% if params[:q][:name_cont].present? || params[:q][:user_name_cont].present? || params[:q][:address_cont].present? || params[:q][:tags_name_cont].present? %>
      <p>検索結果: <%= @datespots_all.count %>件</p>
    <% else %>
      <p class="datespot-search__datespots-count">みんなの提案: <%= @datespots_all.count %>件</p>
      <p class="datespot-search__search-description">※AND検索ができます</p>
    <% end %>
  </div>
  <%= search_form_for @search do |form| %>
    <div class='datespot-search__search-form'>
      <%= form.search_field :name_cont, placeholder: "名称・店名で検索", class: 'datespot-search__search-form--search-field' %>
      <%= form.search_field :user_name_cont, placeholder: "提案者で検索", class: 'datespot-search__search-form--search-field' %>
      <%= form.search_field :address_cont, placeholder: "住所で検索", class: 'datespot-search__search-form--search-field' %>
      <%= form.search_field :tags_name_cont, placeholder: "キーワードで検索", class: 'datespot-search__search-form--search-field' %>
      <%= form.select( :sorts, {'予定日が近い順': 'date asc', '予定日が遠い順': 'date desc', '更新日が新しい順': 'updated_at desc', '更新日が古い順': 'updated_at asc', '予算が高い順': 'range desc', '予算が安い順': 'range asc', '評価が高い順': 'rate_average desc', 'コメント数が多い順': 'comments_count desc', '閲覧数が多い順': 'impressions_count desc', '行きたい！が多い順': 'lists_count desc', 'お気に入り登録が多い順': 'favorites_count desc'}, { selected: params[:q][:sorts] }, class: 'datespot-search__search-form--sort-field' ) %>
      <button type="submit" class="datespot-search__search-form--search-button">
        <i class="fas fa-search datespot-search__search-form--search-icon"></i>
      </button>
    </div>
  <% end %>
</div>
