<div class="datespot-index-info">
  <div class="datespot-index-info__top">
    <h4 class="datespot-index-info__top--datespot-name">
      <%= link_to @datespot.name, datespot_path(@datespot) %>
    </h4>
    <div class="datespot-index-info__top--actions">
      <% if logged_in? %>
        <% if current_user == @datespot.user %>
          <%= link_to edit_datespot_path(@datespot), class: "datespot-index-info__top--actions-edit", id: 'datespot-edit' do %>　
            <i class="far fa-edit"></i>
          <% end %>&ensp;
          <%= link_to datespot_path(@datespot), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "datespot-index-info__top--actions-delete", id: 'datespot-delete' do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        <% else %>
          <%= render 'users/favorite_form' %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="datespot-index-info__user">
    <% if @datespot.user.avatars.attached? %>
      <% if logged_in? %>
        <%= link_to user_path(@datespot.user), class: "datespot-index-info__user--link" do %>
          <%= image_tag @datespot.user.avatars.first.variant(resize:'200x200').processed, class: "datespot-index-info__user--avatar" %>
        <% end %>
      <% else %>
        <%= image_tag @datespot.user.avatars.first.variant(resize:'200x200').processed, class: "datespot-index-info__user--avatar" %>
      <% end %>
    <% else %>
      <% if logged_in? %>
        <%= link_to user_path(@datespot.user), class: "datespot-index-info__user--link" do %>
          <%= image_tag 'thumb50_default.png', class: "datespot-index-info__user--avatar" %>
        <% end %>
      <% else %>
        <%= image_tag 'thumb50_default.png', class: "datespot-index-info__user--avatar" %>
      <% end %>
    <% end %>
    <% if logged_in? %>
      <%= link_to @datespot.user.name, user_path(@datespot.user.id) %>
    <% else %>
      <%= @datespot.user.name %>
    <% end %>
  </div>
  <span class="datespot-index-info__address"><i class="fas fa-map-marker-alt fa-lg datespot-index-info__icon"></i><%= @datespot.address %></span><br>
  <span class="datespot-index-info__range"><i class="fas fa-yen-sign fa-lg datespot-index-info__icon"></i><%= @datespot.range_i18n %></span><br>
  <span class="datespot-index-info__invitation"><i class="fas fa-exclamation-circle fa-lg datespot-index-info__icon-invitation"></i><%= @datespot.invitation %></span><br>
  <% if @datespot.date.present? %>
    <span class="datespot-index-info__date"><i class="fas fa-clock fa-lg datespot-index-info__icon-date"></i><%= l @datespot.date %>&ensp;<%= @datespot.time_zone_i18n %></span><br>
  <% else %>
    <span class="datespot-index-info__date"><i class="fas fa-clock fa-lg datespot-index-info__icon-date"></i>未定</span><br>
  <% end %>
  <div class="datespot-index-info__evaluations">
    <%= render 'datespots/datespot_evaluation' %>
  </div>
  <div class="datespot-index-info__bottom">
    <span class="datespot-index-info__bottom--timestamp">
      <i class="fas fa-edit fa-lg datespot-index-info__bottom--timestamp-icon"></i><%= l @datespot.updated_at %>
    </span>
    <div class="datespot-index-info__bottom--actions">
      <span class="datespot-index-info__bottom--actions-impressions">
        <i class="fas fa-eye datespot-index-info__bottom--actions-impressions-icon"></i>&nbsp;<%= @datespot.impressions_count %>
      </span>
      <span class="datespot-index-info__bottom--actions-list" id="list-count-<%= @datespot.id %>">
        <i class="fas fa-hand-paper"></i>&nbsp;<%= @datespot.lists_count %>
      </span>
    </div>
  </div>
  <div class="datespot-index-info__keywords">
    <% @datespot.tag_list.each do |tag| %>
      <span class="datespot-index-info__keywords--tag">#<%= link_to tag, datespots_path(tag_name: tag) %></span>
    <% end %>
  </div>
  <div class="datespot-index-info__list-form">
    <%= render 'users/list_form' if logged_in? %>
  </div>
</div>
