<% @datespot = datespot %>
<li id="datespot-<%= datespot.id %>">
  <span class="picture">
    <% if datespot.picture.url.present? %>
      <%= link_to((image_tag datespot.picture.thumb200.url), datespot_path(datespot.id), class: 'datespot-picture') %>
    <% end %>
  </span>
  <%= render 'users/favorite_form' if logged_in? %>
  <span class="datespot-name"><%= link_to datespot.name, datespot_path(datespot) %></span><br>
  <span class="area">【エリア】<%= datespot.area %></span><br>
  <span class="price">【価格帯】<%= datespot.price %></span><br>
  <span class="keyword">【キーワード】<%= datespot.keyword %></span><br>
  <% if logged_in? %>
    <span class="user-name">【投稿者】<%= link_to datespot.user.name, datespot.user %></span><br>
  <% else %>
    <span class="user-name">【投稿者】<%= datespot.user.name %></span><br>
  <% end %>
  <span class="timestamp">
    <%= time_ago_in_words(datespot.created_at) %>前に投稿
  </span>
  <% if logged_in? %>
    <% if current_user.admin? || (current_user == datespot.user) %>
      <%= link_to "削除", datespot_path(datespot), method: :delete,
                        data: { confirm: "本当に削除しますか？" } %>
    <% end %>
  <% end %>
</li>
