<%= form_with model: @datespot, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class = 'form-group'>
    <%= f.label :images %> <span class="input-unneed">※任意</span>
    <%= f.file_field :images, multiple: true, class: 'form-control', id: 'datespot_image' %>
  </div>
  <span class="picture">
    <%= f.label :picture %> <span class="input-unneed">※任意</span>
    <%= f.file_field :picture, accept: 'image/jpeg,image/png', class: 'form-control', id: 'datespot_picture' %>
  </span>
  <% if @datespot.picture.present? %>
    <%= image_tag @datespot.picture.thumb200.url, id: :picture_prev %>
    <p><%= f.check_box :remove_picture %>画像を削除する</p>
  <% end %>
  <div class = 'form-group'>
    <%= f.label :name %> <span class="input-need">※必須(50文字以内)</span>
    <%= f.text_field :name, placeholder: "店名を入力", class: 'form-control', id: 'datespot_name' %>
  </div>
  <div class = 'form-group'>
    <%= f.label :place %> <span class="input-need">※必須</span>
    <%= f.select :place, options_for_select(Datespot.places_i18n.invert, selected: f.object.place), { include_blank: "エリアを選択" }, { class: 'form-control', id: 'datespot_place' } %>
  </div>
  <div class = 'form-group'>
    <%= f.label :range %> <span class="input-need">※必須</span>
    <%= f.select :range, options_for_select(Datespot.ranges_i18n.invert, selected: f.object.range), { include_blank: "価格帯を選択" }, { class: 'form-control', id: 'datespot_range' } %>
  </div>
  <div class = 'form-group'>
    <%= f.label :tag_list %> <span class="input-unneed">※任意</span>
    <%= f.text_field :tag_list, placeholder: "キーワードをカンマ区切りで入力：(例) 美味しい,安い", class: 'form-control', id: 'datespot_tag' %>
  </div>
  <div class = 'form-group'>
    <%= f.label :point %> <span class="input-unneed">※任意(255文字以内)</span>
    <%= f.text_area :point, placeholder: "ポイントを入力", class: 'form-control', id: 'datespot_point' %>
  </div>
  <div class = 'form-group'>
    <%= f.label :caution %> <span class="input-unneed">※任意(255文字以内)</span>
    <%= f.text_area :caution, placeholder: "注意点を入力", class: 'form-control', id: 'datespot_caution' %>
  </div>
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
