<div class="datespot-show-info">
  <div class="datespot-show-info__top">
    <div class="datespot-show-info__top--user">
      <% if @datespot.user.avatars.attached? %>
        <%= image_tag @datespot.user.avatars.first.variant(resize:'40x40').processed, class: "datespot-show-info__top--user-avatar" %>
      <% else %>
        <%= image_tag 'thumb50_default.png', class: "datespot-show-info__top--user-avatar" %>
      <% end %>
      <% if logged_in? %>
        <%= link_to @datespot.user.name, user_path(@datespot.user.id) %>
      <% else %>
        <%= @datespot.user.name %>
      <% end %>
    </div>
    <div class="datespot-show-info__top--datespot-change">
      <% if current_user == @datespot.user %>
        <%= link_to edit_datespot_path(@datespot), id: 'datespot-edit' do %>　
          <i class="far fa-edit"></i>
        <% end %>
      <% end %>
      <% if logged_in? %>
        <% if current_user.admin? || (current_user == @datespot.user) %>
          <%= link_to datespot_path(@datespot), method: :delete, data: { confirm: "本当に削除しますか？" }, id: 'datespot-delete' do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <span class="datespot-show-info__address" id="datespot-address">住所：<%= @datespot.address %></span><br>
  <span class="datespot-show-info__range">予算：<%= @datespot.range_i18n %></span><br>
  <span class="datespot-show-info__point">ポイント：<%= @datespot.point %></span><br>
  <span class="datespot-show-info__caution">注意点：<%= @datespot.caution %></span><br>
  <span class="datespot-show-info__reference-url">参考URL：<a href="<%= @datespot.reference_url %>" target="_blank" rel="noopener noreferrer"><%= @datespot.reference_url %></a></span><br>
  <div class="datespot-show-info__bottom">
    <span class="datespot-show-info__bottom--timestamp">更新日：<%= l @datespot.updated_at %></span>
    <div class="datespot-show-info__bottom--actions">
      <span class="datespot-show-info__bottom--actions-impressions">
        <i class="fas fa-eye datespot-show-info__bottom--actions-impressions-icon"></i><%= @datespot.impressions_count %>
      </span>
      <%= render 'users/list_form' if logged_in? %>
      <%= render 'users/favorite_form' if logged_in? %>
    </div>
  </div>
  <div class="datespot-show-info__keywords">
    <%= render 'datespots/tag_list', tag_list: @datespot.tag_list %>
  </div>
</div>
