<% @datespot = datespot %>
<li id="datespot-<%= datespot.id %>">
  <span class="datespot-image">
    <% if datespot.images.attached? %>
      <% datespot.images.each do |image| %>
        <%= image_tag image.variant(resize:'400x400').processed %>
      <% end %>
    <% else %>
      <%= image_tag 'thumb400_default.png'%>
    <% end %>
  </span><br>
  <%= render 'users/favorite_form' if logged_in? %>
  <%= render 'users/list_form' if logged_in? %>
  <span class="datespot-name"><%= link_to datespot.name, datespot_path(datespot) %></span><br>
  <span class="area">【エリア】<%= datespot.place_i18n %></span><br>
  <span class="price">【価格帯】<%= datespot.range_i18n %></span><br>
  <span class="keyword">【キーワード】<%= render 'datespots/tag_list', tag_list: datespot.tag_list %></span><br>
  <% if logged_in? %>
    <span class="user-name">【投稿者】<%= link_to datespot.user.name, datespot.user %></span><br>
  <% else %>
    <span class="user-name">【投稿者】<%= datespot.user.name %></span><br>
  <% end %>
  <span class="timestamp">
    <%= l datespot.created_at %>
  </span>
  <% if logged_in? %>
    <% if current_user.admin? || (current_user == datespot.user) %>
      <%= link_to "削除", datespot_path(datespot), method: :delete,
                        data: { confirm: "本当に削除しますか？" } %>
    <% end %>
  <% end %>
</li>
