<div class='info-form'>
  <%= form.label :name %><span class="info-form__input-need">※必須(50文字以内)</span><br>
  <%= form.text_field :name, placeholder: "店名を入力", class: 'info-form__input-form', required: true %>
</div>
<div class='info-form'>
  <%= form.label :prefecture_code %><span class="info-form__input-need">※必須</span><br>
  <%= form.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, include_blank: '都道府県を選択', required: true %>
</div>
<div class='info-form'>
  <%= form.label :address %><span class="info-form__input-need">※必須</span><span class="info-form__map" data-toggle="collapse" href="#map-new" aria-expanded="false" aria-controls="map-new"><i class="fas fa-search"></i> 地図で住所検索</span><br>
  <%= form.text_field :address, placeholder: "住所を入力", class: 'info-form__input-form', required: true  %>
</div>
<div class="collapse" id="map-new"><%= render "map-new" %></div>
<div class='info-form'>
  <%= form.label :range %><span class="info-form__input-need">※必須</span><br>
  <%= form.select :range, options_for_select(Datespot.ranges_i18n.invert, selected: form.object.range), { include_blank: "価格帯を選択" }, { class: 'info-form__input-form', required: true } %>
</div>
<div class='info-form'>
  <%= form.label :invitation %><span class="info-form__input-need">※必須(50文字以内)</span><br>
  <%= form.text_field :invitation, placeholder: "お誘い一言を入力", class: 'info-form__input-form' %>
</div>
<div class='info-form'>
  <%= form.label :images %><span class="info-form__input-unneed">※任意(6枚まで)</span><br>
  <%= form.file_field :images, multiple: true, class: 'info-form__input-form' %>
</div>
<div class='info-form'>
  <%= form.label :tag_list %><span class="info-form__input-unneed">※任意</span><br>
  <%= form.text_field :tag_list, placeholder: "キーワードをカンマ区切りで入力：(例) オシャレ,安い", value: @datespot.tag_list.join(',') , class: 'info-form__input-form', id: 'datespot_tag' %>
</div>
<div class='info-form'>
  <%= form.label :reference_url %><span class="info-form__input-unneed">※任意</span><br>
  <%= form.text_field :reference_url, placeholder: "参考URLを入力", class: 'info-form__input-form' %>
</div>
<div class='info-form'>
  <%= form.label :plan %><span class="info-form__input-unneed">※任意(255文字以内)</span><br>
  <%= form.text_area :plan, placeholder: "デート詳細を入力", class: 'info-form__input-form' %>
</div>
<div class="action-button">
  <%= form.submit yield(:button_text), class: "action-button__submit" %>
</div>
