<%= form_with model: @datespot, local: true do |form| %>
  <%= render 'shared/error_messages', object: form.object %>
  <div class="datespot-edit">
    <% if @datespot.images.present? %>
      <p class="datespot-edit__description-title">現在登録されている画像</p><p class="datespot-edit__description-attention">※削除する画像はチェックしてください</p>
      <% @datespot.images.each do |image| %>
        <%= form.check_box :image_ids, {multiple: true}, image.id, false %>
        <%= image_tag image.variant(resize:'250x250').processed, class:"datespot-edit__image"  %><br>
      <% end %>
    <% else %>
      <p class="datespot-edit__description-title">現在登録されている画像</p><p class="datespot-edit__description-no-image">なし</p>
    <% end %>
  </div>
  <%= render partial: 'datespot_info_form', locals: { form: form } %>
<% end %>
<div class="info-form__delete">
  <%= link_to "投稿を削除する", datespot_path(@datespot), method: :delete, data: { confirm: "本当にこの投稿を削除してもよろしいですか？" } %>
</div>
