<% comments = @datespot.comments %>
<% if comments.present? %>
  <div class="datespot-info__evaluations--rate-average">
    <div id="rate-average-<%= @datespot.id %>"></div>
    <script>
      $('#rate-average-<%= @datespot.id %>').raty({
        size: 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half: true,
        readOnly: true,
        score: <%= @datespot.rate_average.round(1) %>,
      });
    </script>
    <span class="datespot-info__evaluations--rate-average-score"><%= @datespot.rate_average.round(1) %></span>
  </div>
  <span class="datespot-info__evaluations--comment"><i class="fas fa-comment-alt"></i><%= @datespot.comments_count %></span>
<% else %>
  <div class="datespot-info__evaluations--rate-average">
    <div id="rate-average-<%= @datespot.id %>"></div>
    <script>
      $('#rate-average-<%= @datespot.id %>').raty({
        size: 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half: true,
        readOnly: true,
        score: 0,
      });
    </script>
    <span class="datespot-info__evaluations--rate-average-score"><%= @datespot.rate_average.round(1) %></span>
  </div>
  <span class="datespot-info__evaluations--comment"><i class="fas fa-comment-alt"></i><%= @datespot.comments_count %></span>
<% end %>
