<% provide(:title, "デートを探す") %>
<div class="container-fluid">
  <div class="row">
    <%= render 'layouts/logging_in_sidebar' %>
    <div class="main">
      <div class="heading">
        <%= render 'shared/flash_messages' %>
        <h1 class="heading__title">デートを探す</h1>
      </div>
      <div class="content">
        <%= render 'datespot_search' %>
        <% if @datespots.any? %>
          <ol class="datespot-index">
            <%= render @datespots %>
          </ol>
          <%= will_paginate @datespots, previous_label: '<', next_label: '>', inner_window: 1, outer_window: 0 %>
        <% end %>
        <span class="fab">
          <%= link_to new_datespot_path, class: "fab__circle" do %><i class="fas fa-plus fab__circle--icon"></i><% end %>
        </span>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </div>
</div>
