<% provide(:title, "デートを探す") %>
<div class="container-fluid">
  <div class="row">
    <% if logged_in? %>
      <%= render 'layouts/logging_in_sidebar' %>
    <% else %>
      <%= render 'layouts/logging_out_sidebar' %>
    <% end %>
    <div class="main">
      <div class="heading">
        <h1 class="heading__title">デートを探す</h1>
      </div>
      <div class="content">
        <%= render 'datespots/datespot_search' %>
        <% if @datespots.any? %>
          <ol class="datespot-index">
            <%= render @datespots %>
          </ol>
          <%= paginate @datespots %>
        <% else %>
          <span class="datespot-index__no-datespot-large">提案はありません</span>
        <% end %>
        <% if logged_in? %>
          <span class="fab-new">
            <%= link_to new_datespot_path, class: "fab-new__circle" do %><i class="fas fa-plus fab-new__circle--icon"></i><% end %>
          </span>
        <% end %>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </div>
</div>
