<% provide(:title, "デートを探す") %>
<div class="container-fluid">
  <div class="row">
    <%= render 'layouts/logging_in_sidebar' %>
    <div class="main">
      <div class="heading">
        <%= render 'shared/flash_messages' %>
        <h1 class="heading_title">デートを探す</h1>
      </div>
      <div class="content">
        <%= render 'datespot_search' %>
        <div class="col-md-9">
          <% if @datespots.any? %>
            <h3>デートスポット (<%= @datespots.count %>)</h3>
            <ol class="datespots">
              <%= render @datespots %>
            </ol>
            <%= will_paginate @datespots %>
          <% end %>
        </div>
        <span class="new-datespot">
          <%= link_to new_datespot_path, id: "fab" do %><i class="far fa-edit"></i><% end %>
        </span>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </div>
</div>
