<% provide(:title, "#{@datespot.name}") %>
<div class="container-fluid">
  <div class="row">
    <% if logged_in? %>
      <%= render 'layouts/logging_in_sidebar' %>
    <% else %>
      <%= render 'layouts/logging_out_sidebar' %>
    <% end %>
    <div class="main">
      <div class="heading">
        <%= render 'shared/flash_messages' %>
        <h1 class="heading__title" id="datespot-name"><%= @datespot.name %></h1>
      </div>
      <div class="content">
        <div class="datespot-show">
          <div class="datespot-show__card-upper">
            <div class="datespot-show__card-upper--image">
              <%= render 'datespots/datespot-slider' %>
            </div>
          </div>
          <div class="datespot-show__card-lower">
            <div class="datespot-show__card-lower--info">
              <%= render 'datespots/datespot_show_info' %>
            </div>
            <div class="datespot-show__card-lower--weather">
              <%= render "weather" %>
            </div>
            <div class="datespot-show__card-lower--map">
              <%= render "map-show" %>
            </div>
            <div class="datespot-show__card-lower--comment">
              <div class="datespot-comment">
                <%= render partial: 'comments/form', locals: { comment: @comment, datespot: @datespot } %>
                <div class="datespot-comment__comment-index">
                  <h3 class="datespot-comment__comment-index--title">コメント一覧</h3>
                  <%= render partial: 'comments/index', locals: { comments: @comments, datespot: @datespot } %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% if logged_in? %>
          <span class="fab">
            <%= link_to new_datespot_path, class: "fab__circle" do %><i class="fas fa-plus fab__circle--icon"></i><% end %>
          </span>
        <% end %>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </div>
</div>
<%= render 'layouts/datespot-slider_script' %>
