<%= form_with model: @user, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <span class="picture">
    <%= f.label :picture %> <span class="input-unneed">※任意</span>
    <%= f.file_field :picture, accept: 'image/jpeg,image/png', class: 'form-control', id: 'user_picture' %>
  </span>
  <% if @user.picture.present? %>
    <%= image_tag @user.picture.thumb200.url, id: :picture_prev %>
    <p><%= f.check_box :remove_picture %>画像を削除する</p>
  <% end %>
  <script type="text/javascript">
    $('#user_picture').bind('change', function() {
      var size_in_megabytes = this.files[0].size/1024/1024;
      if (size_in_megabytes > 5) {
        alert('ファイルサイズは最大で5MBまでです。');
      }
    });
  </script>
  <div class = 'form-group'>
    <%= f.label :name %> <span class="input-need">※必須(50文字以内)</span>
    <%= f.text_field :name, class: 'form-control', id: 'user_name' %>
  </div>
  <div class = 'form-group'>
    <%= f.label :email %> <span class="input-need">※必須(255文字以内)</span>
    <%= f.email_field :email, class: 'form-control', id: 'user_email' %>
  </div>
  <div class = 'form-group'>
    <%= f.label :password %> <span class="input-need">※必須(6文字以上)</span>
    <%= f.password_field :password, class: 'form-control', id: 'user_password' %>
  </div>
  <div class = 'form-group'>
    <%= f.label :password_confirmation %>　<span class="input-need">※必須(6文字以上)</span>
    <%= f.password_field :password_confirmation, class: 'form-control', id: 'user_password_confirmation' %>
  </div>
  <div class = 'form-group'>
    <%= f.label :sex %>　<span class="input-unneed">※任意</span><br />
    <%= f.label :man %>
    <%= f.radio_button :sex, :man %>
    <%= f.label :woman %>
    <%= f.radio_button :sex, :woman %>
  </div>
  <div class="form-group">
    <%= f.label :introduction %>　<span class="input-unneed">※任意(255文字以内)</span>
    <%= text_area :user, :introduction,class:"form-control" %>
  </div>
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
