<div class="user-show-info">
  <div class="user-show-info__status">
    <span class="user-show-info__status--title">ステータス</span>
    <div class="user-show-info__status--impressions">
      <span class="user-show-info__status--impressions-count"><i class="fas fa-shoe-prints"></i><%= @user.impressions_count %>人が訪れました</span>
    </div>
    <div class="user-show-info__status--stats">
      <%= render 'shared/follow_stats' %>
    </div>
    <div class="user-show-info__status--follow-form">
      <%= render 'users/follow_form' if logged_in? %>
    </div>
  </div>
  <div class="user-show-info__introduction">
    <span class="user-show-info__introduction--title">自己紹介</span>
    <% if @user.introduction.present? %>
      <div class="user-show-info__introduction--content">
        <%= simple_format(h(@user.introduction)) %>
      </div>
    <% else %>
      <div class="user-show-info__introduction--content">
        自己紹介文はありません
      </div>
    <% end %>
  </div>
  <div class="user-show-info__profile">
    <div class="user-show-info__profile--user-change">
      <span class="user-show-info__profile--title">プロフィール</span>
      <% if current_user == @user %>
        <%= link_to edit_user_path(@user), id: 'user-edit', class:"user-show-info__profile--user-change-edit" do %>　
          <i class="far fa-edit"></i>
        <% end %>
      <% end %>
      <% if (current_user.admin? && current_user != @user) || (!current_user.admin? && current_user == @user) %>
        <%= link_to user_path(@user), method: :delete, data: { confirm: "本当に削除しますか？" }, id: 'user-delete', class:"user-show-info__profile--user-change-delete" do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      <% end %>
    </div>
    <div class="user-show-info__profile--content">
      <% if @user.prefecture.present? %>
        <span class="user-show-info__profile--content-residence">居住地：<%= @user.prefecture.name %></span><br>
      <% else %>
        <span class="user-show-info__profile--content-residence">居住地：未選択</span><br>
      <% end %>
      <% if @user.age.present? %>
        <span class="user-show-info__profile--content-age">年齢&emsp;：<%= @user.age_i18n %></span><br>
      <% else %>
        <span class="user-show-info__profile--content-age">年齢&emsp;：未選択</span><br>
      <% end %>
      <span class="user-show-info__profile--content-sex">性別&emsp;：<%= @user.sex_i18n %></span><br>
      <span class="user-show-info__profile--content-timestamp">更新日：<%= l @user.updated_at %></span>
    </div>
  </div>
</div>
