<div class="user-index-info">
  <div class="user-index-info__top">
    <h4 class="user-index-info__top--user-name">
      <%= link_to @user.name, user_path(@user) %>
    </h4>
    <div class="user-index-info__top--user-change">
      <% if current_user == @user %>
        <%= link_to edit_user_path(@user), id: 'user-edit' do %>　
          <i class="far fa-edit"></i>
        <% end %>
      <% end %>
      <% if (current_user.admin? && current_user != @user) || (!current_user.admin? && current_user == @user) %>
        <%= link_to user_path(@user), method: :delete, data: { confirm: "本当に削除しますか？" }, id: 'user-delete' do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <% if @user.prefecture.present? %>
    <span class="user-index-info__residence"><i class="fas fa-map-marker-alt fa-lg user-index-info__icon-residence"></i><%= @user.prefecture.name %></span><br>
  <% end %>
  <% if @user.age.present? %>
    <span class="user-index-info__age"><i class="fas fa-calendar user-index-info__icon-age"></i><%= @user.age_i18n %></span><br>
  <% end %>
  <span class="user-index-info__sex"><i class="fas fa-venus-mars user-index-info__icon-sex"></i><%= @user.sex_i18n %></span><br>
  <% if @user.introduction.present? %>
    <span class="user-index-info__introduction"><i class="fas fa-comment-dots user-index-info__icon-introduction"></i><%= @user.introduction.slice(0..11) %>...</span><br>
  <% end %>
  <div class="user-index-info__bottom">
    <span class="user-index-info__bottom--timestamp">
      <%= l @user.updated_at %>
    </span>
    <div class="user-index-info__bottom--actions">
      <span class="user-index-info__bottom--actions-impressions">
        <i class="fas fa-shoe-prints"></i>&nbsp;<%= @user.impressions_count %>
      </span>
      <span class="user-index-info__bottom--actions-followed">
        <i class="fas fa-thumbs-up"></i><span id="followers">&nbsp;<%= @user.followed_count %></span>
      </span>
      <span class="user-index-info__bottom--actions-datespots">
        <i class="zmdi zmdi-male-female zmdi-hc-lg"></i>&nbsp;<%= @user.datespots_count %>
      </span>
    </div>
  </div>
</div>
