<div class = 'form-group'>
  <%= form.label :avatars %> <span class="input-unneed">※任意(4枚まで)</span>
  <%= form.file_field :avatars, multiple: true, class: 'form-control', id: 'user_avatars' %>
</div>
<div class = 'form-group'>
  <%= form.label :name %> <span class="input-need">※必須(50文字以内)</span>
  <%= form.text_field :name, placeholder: "ユーザー名を入力", class: 'form-control', id: 'user_name' %>
</div>
<div class = 'form-group'>
  <%= form.label :email %> <span class="input-need">※必須(255文字以内)</span>
  <%= form.email_field :email, placeholder: "メールアドレスを入力", class: 'form-control', id: 'user_email' %>
</div>
<div class = 'form-group'>
  <%= form.label :password %> <span class="input-need">※必須(6文字以上)</span>
  <%= form.password_field :password, placeholder: "パスワードを入力", class: 'form-control', id: 'user_password' %>
</div>
<div class = 'form-group'>
  <%= form.label :password_confirmation %> <span class="input-need">※必須(6文字以上)</span>
  <%= form.password_field :password_confirmation, placeholder: "パスワード（確認）を入力", class: 'form-control', id: 'user_password_confirmation' %>
</div>
<div class = 'form-group'>
  <%= form.label :sex %> <span class="input-unneed">※任意</span><br/>
  <%= form.label :man %>
  <%= form.radio_button :sex, :man %>
  <%= form.label :woman %>
  <%= form.radio_button :sex, :woman %>
</div>
<div class="form-group">
  <%= form.label :introduction %> <span class="input-unneed">※任意(255文字以内)</span>
  <%= form.text_area :introduction, placeholder: "自己紹介を入力", class: "form-control" %>
</div>
<%= form.submit yield(:button_text), class: "btn btn-primary" %>
