<div class="user-show-info">
  <div class="user-show-info__status">
    <span class="user-show-info__status--title">ステータス</span>
    <div class="user-show-info__status--impressions">
      <span class="user-show-info__status--impressions-count"><i class="fas fa-shoe-prints"></i><%= @user.impressions_count %>人が訪れました</span>
    </div>
    <div class="user-show-info__status--stats">
      <%= render 'shared/stats' %>
    </div>
    <div class="user-show-info__status--follow-form">
      <%= render 'follow_form' if logged_in? %>
    </div>
  </div>
  <div class="user-show-info__introduction">
    <span class="user-show-info__introduction--title">自己紹介</span>
    <div class="user-show-info__introduction--content">
      <%= simple_format(h(@user.introduction))%>
    </div>
  </div>
  <div class="user-show-info__profile">
    <div class="user-show-info__profile--user-change">
      <span class="user-show-info__profile--title">プロフィール</span>
      <% if current_user == @user %>
        <%= link_to edit_user_path(@user), id: 'user-edit', class:"user-show-info__profile--user-change-edit" do %>　
          <i class="far fa-edit"></i>
        <% end %>
      <% end %>
      <% if (current_user.admin? && current_user != @user) || (!current_user.admin? && current_user == @user) %>
        <%= link_to user_path(@user), method: :delete, data: { confirm: "本当に削除しますか？" }, id: 'user-delete', class:"user-show-info__profile--user-change-delete" do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      <% end %>
    </div>
    <div class="user-show-info__profile--content">
      <% if @user.prefecture.present? %>
        <span class="user-show-info__profile--content-residence">居住地：<%= @user.prefecture.name %></span><br>
      <% else %>
        <span class="user-show-info__profile--content-residence">居住地：</span><br>
      <% end %>
      <% if @user.age.present? %>
        <span class="user-show-info__profile--content-age">年齢：<%= @user.age_i18n %></span><br>
      <% else %>
        <span class="user-show-info__profile--content-age">年齢：</span><br>
      <% end %>
      <span class="user-show-info__profile--content-sex">性別：<%= @user.sex_i18n %></span><br>
      <span class="user-show-info__profile--content-timestamp">更新日：<%= l @user.updated_at %></span>
    </div>
  </div>
  <div class="user-show-info__datespots">
    <span class="user-show-info__datespots--title">自分の提案一覧(<%= @user.datespots.count %>件)</span>
    <div class="user-show-info__datespots--content">
      <% if @user.datespots.any? %>
        <ol class="datespot-index">
          <%= render @datespots %>
        </ol>
        <%= will_paginate @datespots, previous_label: '<', next_label: '>', inner_window: 1, outer_window: 0 %>
      <% else %>
        <span class="datespot-index__no-datespot-small">まだ提案をしていません</span>
      <% end %>
    </div>
  </div>
</div>
