<% provide(:title, 'ユーザーを探す') %>
<div class="container-fluid">
  <div class="row">
    <%= render 'layouts/logging_in_sidebar' %>
    <div class="main">
      <div class="heading">
        <h1 class="heading__title">ユーザーを探す</h1>
      </div>
      <div class="content">
        <%= render 'user_search' %>
        <% if @users.any? %>
          <ol class="user-index">
            <%= render @users %>
          </ol>
          <%= paginate @users %>
        <% end %>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </div>
</div>
