<% provide(:title, @title) %>
<div class="container-fluid">
  <div class="row">
    <%= render 'layouts/logging_in_sidebar' %>
    <div class="main">
      <div class="heading">
        <h1 class="heading__title"><%= @title %></h1>
      </div>
      <div class="content">
        <% if @users.any? %>
          <p class="user-index__users-count"><%= @users_count %>： <%= @users.count %>人</p>
          <p class="user-index__users-description">※マッチングしたユーザーは除く</p>
          <ol class="user-index">
            <%= render @users %>
          </ol>
        <% else %>
          <span class="user-index__no-user">ユーザーは存在しません</span>
        <% end %>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </div>
</div>
