<% provide(:title, @title) %>
<div class="container-fluid">
  <div class="row">
    <%= render 'layouts/logging_in_sidebar' %>
    <div class="main">
      <div class="heading">
        <h1 class="heading__title"><%= @title %></h1>
      </div>
      <div class="content">
        <% if @users.any? %>
          <ol class="user-index">
            <%= render @users %>
          </ol>
          <%= will_paginate @users, previous_label: '<', next_label: '>', inner_window: 1, outer_window: 0 %>
        <% else %>
          <span class="user-index__no-user">ユーザーは存在しません</span>
        <% end %>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </div>
</div>
