<% provide(:title, "マッチング一覧") %>
<div class="container-fluid">
  <div class="row">
    <%= render 'layouts/logging_in_sidebar' %>
    <div class="main">
      <div class="heading">
        <h1 class="heading__title">マッチング一覧</h1>
      </div>
      <div class="content">
        <div class="matching-index">
          <% if @match_users.present?%>
            <p class="matching-index__user-count"><%= @match_users.size %>人とマッチングしています</p>
            <ul>
              <% @match_users.each do |match_user| %>
                <li class="matching-index__match-users">
                  <% if match_user.avatars.attached? %>
                    <%= link_to user_path(match_user) do %>
                      <%= image_tag match_user.avatars.first.variant(resize:'200x200').processed, class: "matching-index__match-users--avatar" %>
                    <% end %>
                  <% else %>
                    <%= link_to user_path(match_user) do %>
                      <%= image_tag 'thumb50_default.png', class: "matching-index__match-users--avatar" %>
                    <% end %>
                  <% end %>
                  <span class="matching-index__match-users--name"><%= link_to match_user.name, match_user %></span>
                  <div class="matching-index__room-entry">
                    <%= form_with model: @room do |form| %>
                      <%= form.hidden_field :user_id, value: match_user.id %>
                      <%= form.button :type => "submit", class: "matching-index__room-entry--icon" do %>
                        <i class="far fa-comment-dots"></i>
                      <% end %>
                    <% end %>
                  </div>
                </li>
              <% end %>
            </ul>
          <% else %>
            <p class="matching-index__no-user">マッチングしているユーザーはいません</p>
          <% end %>
        </div>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </div>
</div>
