<% provide(:title, "メッセージ一覧") %>
<div class="container">
  <div class="row">
    <p><%= link_to "マッチング一覧へ戻る", rooms_path %></p>
    <section class="user_info">
      <% if @message_user.avatars.attached? %>
        <div class="swiper-slide"><%= image_tag @message_user.avatars.first.variant(resize:'200x200').processed %></div>
      <% else %>
        <%= image_tag 'thumb200_default.png'%>
      <% end %>
      <h4 class="user-name"><%= link_to @message_user.name, @message_user %></h4>
    </section>
    <div class="messages">
      <div id="messages_area">
        <%= render partial: 'messages/index', locals: { messages: @messages } %>
      </div>
      <div class="messages_create">
        <%= render partial: 'messages/form', locals: { message: @message, room: @room } %>
      </div>
    </div>
  </div>
</div>
