<% @user ||= current_user %>
<div class="sidebar logging-in-sidebar">
  <%= link_to(image_tag("logo.png", :width => "100%", :height => "auto", :alt => "date-matchのロゴ"), datespots_path,) %>
  <nav class="sidebar__nav logging-in-sidebar__nav">
    <ul class="logging-in-sidebar__nav--items">
      <li class="logging-in-sidebar__nav--item"><%= link_to datespots_path, class: "logging-in-sidebar__nav--item-link" do %><i class="zmdi zmdi-male-female zmdi-hc-lg logging-in-sidebar__nav--item-icon"></i>デートを探す<% end %></li>
      <li class="logging-in-sidebar__nav--item"><%= link_to lists_path, class: "logging-in-sidebar__nav--item-link" do %><i class="fas fa-hand-paper logging-in-sidebar__nav--item-icon"></i>行きたい！<% end %></li>
      <li class="logging-in-sidebar__nav--item"><%= link_to browsing_histories_path, class: "logging-in-sidebar__nav--item-link" do %><i class="fas fa-eye logging-in-sidebar__nav--item-icon"></i>閲覧履歴<% end %></li>
      <li class="logging-in-sidebar__nav--item"><%= link_to users_path, class: "logging-in-sidebar__nav--item-link" do %><i class="fas fa-users logging-in-sidebar__nav--item-icon"></i>ユーザーを探す<% end %></li>
      <li class="logging-in-sidebar__nav--item"><%= link_to followers_user_path(@user), class: "logging-in-sidebar__nav--item-link" do %><i class="fas fa-thumbs-up logging-in-sidebar__nav--item-icon"></i>お相手から<% end %></li>
      <li class="logging-in-sidebar__nav--item"><%= link_to rooms_path, class: "logging-in-sidebar__nav--item-link" do %><i class="fas fa-comments logging-in-sidebar__nav--item-icon"></i>メッセージ<% end %></li>
      <li class="logging-in-sidebar__nav--item"><%= link_to current_user, class: "logging-in-sidebar__nav--item-link" do %><i class="zmdi zmdi-account-box zmdi-hc-lg logging-in-sidebar__nav--item-icon"></i>プロフィール<% end %></li>
      <li class="logging-in-sidebar__nav--item"><%= link_to notifications_path, class: "logging-in-sidebar__nav--item-link" do %><i class="fas fa-bell logging-in-sidebar__nav--item-icon"></i>通知一覧<% end %></li>
      <li class="logging-in-sidebar__nav--item"><%= link_to logout_path, method: :delete, class: "logging-in-sidebar__nav--item-link" do %><i class="fas fa-sign-out-alt logging-in-sidebar__nav--item-icon"></i>ログアウト<% end %></li>
    </ul>
  </nav>
</div>
