<% @user ||= current_user %>
<div class="sidebar">
  <%= link_to(image_tag("logo.png", :width => "100%", :height => "auto", :alt => "date-matchのロゴ"), datespots_path,) %>
  <nav class="sidebar_nav sidebar_sticked">
    <ul class="nav">
      <li class="nav-item"><%= link_to datespots_path, class: "nav-item" do %><i class="zmdi zmdi-male-female zmdi-hc-lg nav-icon"></i>デートを探す<% end %></li>
      <li class="nav-item"><%= link_to lists_path, class: "nav-item" do %><i class="fas fa-hand-paper nav-icon"></i>行きたい！<% end %></li>
      <li class="nav-item"><%= link_to users_path, class: "nav-item" do %><i class="fas fa-users nav-icon"></i>ユーザーを探す<% end %></li>
      <li class="nav-item"><%= link_to followers_user_path(@user), class: "nav-item" do %><i class="fas fa-thumbs-up nav-icon"></i>いいね！<% end %></li>
      <li class="nav-item"><%= link_to rooms_path, class: "nav-item" do %><i class="fas fa-comments nav-icon"></i>メッセージ<% end %></li>
      <li class="nav-item"><%= link_to current_user, class: "nav-item" do %><i class="zmdi zmdi-account-box zmdi-hc-lg nav-icon"></i>プロフィール<% end %></li>
      <li class="nav-item"><%= link_to notifications_path, class: "nav-item" do %><i class="fas fa-bell nav-icon"></i>通知一覧<% end %></li>
      <li class="nav-item"><%= link_to logout_path, method: :delete, class: "nav-item" do %><i class="fas fa-sign-out-alt nav-icon"></i>ログアウト<% end %></li>
    </ul>
  </nav>
</div>
