<% @user ||= current_user %>
<div class="sidebar">
  <%= link_to(image_tag("logo.png", :width => "100%", :height => "auto", :alt => "date-matchのロゴ"), datespots_path,) %>
  <nav class="sidebar__nav">
    <ul class="sidebar__nav--items">
      <li class="sidebar__nav--item"><%= link_to datespots_path, class: "sidebar__nav--item" do %><i class="zmdi zmdi-male-female zmdi-hc-lg sidebar__nav--icon"></i>デートを探す<% end %></li>
      <li class="sidebar__nav--item"><%= link_to lists_path, class: "sidebar__nav--item" do %><i class="fas fa-hand-paper sidebar__nav--icon"></i>行きたい！<% end %></li>
      <li class="sidebar__nav--item"><%= link_to users_path, class: "sidebar__nav--item" do %><i class="fas fa-users sidebar__nav--icon"></i>ユーザーを探す<% end %></li>
      <li class="sidebar__nav--item"><%= link_to followers_user_path(@user), class: "sidebar__nav--item" do %><i class="fas fa-thumbs-up sidebar__nav--icon"></i>いいね！<% end %></li>
      <li class="sidebar__nav--item"><%= link_to rooms_path, class: "sidebar__nav--item" do %><i class="fas fa-comments sidebar__nav--icon"></i>メッセージ<% end %></li>
      <li class="sidebar__nav--item"><%= link_to current_user, class: "sidebar__nav--item" do %><i class="zmdi zmdi-account-box zmdi-hc-lg sidebar__nav--icon"></i>プロフィール<% end %></li>
      <li class="sidebar__nav--item"><%= link_to notifications_path, class: "sidebar__nav--item" do %><i class="fas fa-bell sidebar__nav--icon"></i>通知一覧<% end %></li>
      <li class="sidebar__nav--item"><%= link_to logout_path, method: :delete, class: "sidebar__nav--item" do %><i class="fas fa-sign-out-alt sidebar__nav--icon"></i>ログアウト<% end %></li>
    </ul>
  </nav>
</div>
