<!DOCTYPE HTML>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
    <meta name="descriptioin" content=“「date-match」は、デート提案型のマッチングサービスです。「まずは、お互い行きたいところから始まる新しい出会い形」をコンセプトに気軽な出会いが見つかるサービスです。”>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
    <script src="https://kit.fontawesome.com/84eeecacff.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="page">
      <%= render 'layouts/header' %>
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <%= render 'layouts/user_slider' %>
    <%= render 'layouts/datespot_slider' %>
  </body>
</html>
