<!DOCTYPE HTML>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
    <meta name="descriptioin" content=“「date-match」は、デート提案型のマッチングサービスです。「まずは、お互い行きたいところから始まる新しい出会い形」をコンセプトに気軽な出会いが見つかるサービスです。”>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
    <script src="https://kit.fontawesome.com/84eeecacff.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
  </head>
  <body>
    <%= yield %>
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <%= render 'layouts/home_slider' %>
    <%= render 'layouts/user_slider' %>
    <%= render 'layouts/datespot_slider' %>
  </body>
</html>
