<!DOCTYPE HTML>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
  </head>
  <body>
    <div id="page">
      <%= render 'layouts/header' %>
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script>
      var mainSlider = new Swiper('.slider', {
        loop: true,
        scrollbar: {
          el: '.swiper-scrollbar',
          hide: true,
          draggable: true,
        },
      });

      var Thumbnail = new Swiper('.thumbnail', {
        loop: true,
        slidesPerView: 1,
        slideToClickedSlide: true,
      });

      mainSlider.on('slideChange', () => {
        Thumbnail.slideToLoop(mainSlider.realIndex);
      });

      Thumbnail.on('slideChange', () => {
        mainSlider.slideToLoop(Thumbnail.realIndex);
      });
    </script>
  </body>
</html>
